{% extends "base.html" %}
{% from "macros/forms.html" import render_field, render_checkbox, render_submit_button %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title">Login</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.username) }}
                    {{ render_field(form.password) }}
                    {{ render_checkbox(form.remember) }}
                    {{ render_submit_button(form.submit) }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}